In [1]:
import numpy as np
import pandas as pd

work_dir = 'C:/Users/382365/Downloads/'
filename = 'snowfall_la_noaa.csv'
snowfall_df = pd.read_csv(work_dir + filename)

C:\Users\382365\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
snowfall_df[snowfall_df['SNOW']>0]

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,MDPR,DAPR,PRCP,SNWD,SNOW
336092,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.1,34.2264,-118.065,20010306,-9999.0,-9999,1.92,27.0,2.0
336096,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.1,34.2264,-118.065,20010310,-9999.0,-9999,0.30,24.0,2.0
336124,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.1,34.2264,-118.065,20010407,-9999.0,-9999,1.59,3.0,3.0
336138,GHCND:USC00046006,MOUNT WILSON CBS CA US,1740.1,34.2264,-118.065,20010421,-9999.0,-9999,1.50,1.0,1.0

In [5]:
snowfall_df[snowfall_df['SNOW']>0].SNOW.sum()

8.0

In [8]:
snowfall_df.describe()

,DATE,MDPR,DAPR,PRCP,SNWD,SNOW
count,3.499310e+05,349931.000000,349931.000000,349931.000000,349931.000000,349931.000000
mean,2.004966e+07,-9992.884381,-9994.255176,-307.901308,-3889.055234,-2777.155499
std,7.665594e+04,247.225074,217.798503,1727.524086,4874.634738,4478.419667
min,1.991010e+07,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
25%,1.998092e+07,-9999.000000,-9999.000000,0.000000,-9999.000000,-9999.000000
50%,2.006070e+07,-9999.000000,-9999.000000,0.000000,0.000000,0.000000
75%,2.012030e+07,-9999.000000,-9999.000000,0.000000,0.000000,0.000000
max,2.016113e+07,8.040000,30.000000,9.290000,39.000000,3.000000

In [15]:
snowfall_df['DATE'] = pd.to_datetime(snowfall_df['DATE'], format='%Y%m%d',coerce = True)

C:\Users\382365\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: the coerce=True keyword is deprecated, use errors='coerce' instead
  if __name__ == '__main__':

In [17]:
snowfall_df

,MDPR,DAPR,PRCP,SNWD,SNOW
count,349931.000000,349931.000000,349931.000000,349931.000000,349931.000000
mean,-9992.884381,-9994.255176,-307.901308,-3889.055234,-2777.155499
std,247.225074,217.798503,1727.524086,4874.634738,4478.419667
min,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
25%,-9999.000000,-9999.000000,0.000000,-9999.000000,-9999.000000
50%,-9999.000000,-9999.000000,0.000000,0.000000,0.000000
75%,-9999.000000,-9999.000000,0.000000,0.000000,0.000000
max,8.040000,30.000000,9.290000,39.000000,3.000000

In [24]:
(snowfall_df['DATE'].iloc[0] - snowfall_df['DATE'].iloc[-1:]).apply(lambda x: float(x.days)/365)

349930   -5.339726
Name: DATE, dtype: float64